html
	font-size: 16px;
*
	box-sizing: border-box;
html,body
	height: 100%
	margin: 0
	padding: 0
	font-family: Roboto, Helvetica, Arial, sans-serif
.wrapper,section
	overflow: hidden
a
	color: $link
	text-decoration: none
	transition: .3s
	&:hover
		color: darken($link, 10%)
		text-decoration: none

ul,li,h1,h2,h3,h4,h5,h6,p
	margin: 0
	padding: 0

ul
	list-style-type: none

.section
  min-height: rem(650px)		
input[type="date"]
	background-color: transparent

.visuallyhidden
	position: absolute!important
	overflow: hidden!important
	clip: rect(0 0 0 0)!important
	height: 1px!important
	width: 1px!important
	margin: -1px!important
	padding: 0!important
	border: 0!important