header.header
		.container
			.row.justify-content-between.align-items-center  
				.col-md-auto
					.logo
						img.logo_img(src="/img/logo.png", alt="PAHU Design")
				.col-md-auto
					nav.top_nav
						ul.top_nav__list
							each item in nav
								li.top_nav__item
									a(href=`#${item}`)=item
				.col-md-auto
					.top_icons
						ul.top_icons__list
							each item, i in icons.link
								li.top_icons__item
									a.top_icons__link(href=`${item}`)
										i.fa(class=`${icons.faIcon[i]}`)