- 
  var nav = ['home','features','shop','blog','accessories','contact']
- 
  var icons = {
        link	: ['/search','/favorites','/cart'],
        faIcon: ['fa-search', 'fa-heart-o', 'fa-shopping-cart'],
        }

- 
  var cols = {
    left: [
      {
        header: 'modern design',
        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, provident?',
        img: 'design.png',
      },
      {
        header: 'Unique quality',
        text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo temporibus commodi accusamus repudiandae labore dicta ipsa sed ullam officiis. Sapiente.',
        img: 'quality.png',
      },
    ],
    middle: [
      {
        img: 'sofa.png',
      }
    ],
    right: [
      {
        header: 'honest prices',
        text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, consectetur.',
        img: 'prices.png',
      },
      {
        header: 'great support',
        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique minus sequi voluptatem aspernatur id veniam!',
        img: 'support.png',
      },
    ]
  }

- 
  var banners = [
    {
      img: '/img/banner/banner_chair.jpg',
      data: 'patio furniture vietnam',
      link: '#'
    },
    {
      img: '/img/banner/banner_sofa.jpg',
      data: 'design by jarnet park trend 2017',
      link: '#'
    },
    {
      img: '/img/banner/banner_ceramics.jpg',
      data: 'ceramics wm munoz',
      link: '#'
    },
    { 
      img: '/img/banner/banner_plane.jpg',
    },
    { 
      img: '/img/banner/banner_apples.jpg',
    },
  ]