block hero
  .container-fluid.hero__container
    .section.hero
      .header
        .row.header__row
          .col.d-flex.align-items-center.header__col
            .logo
              h3.logo__text 
                a(href="http://kdovi.cz") KDOVI
          .col.header__col
            ul.header__list.d-flex.justify-content-end
              -
                var headerLinks = [
                  {name: 'Правила', link: '#terms'},
                  {name: 'Призы', link: '#prizes'},
                ]
              each item in headerLinks
                li.header__item
                  a.header__link(href=`/${item.link}`)= item.name
      .row.hero__row
        .col-md.d-flex.flex-column.justify-content-end.align-items-center
          h1.hero__header мега розыгрыш
          p.hero__description
            | оформи медицинскую страховку до 7 сентября и участвуй в  
            b
              span.text_bold крупнейшем розыгрыше
            |  призов в Чехии
          button.button.hero__button 
            a(href="#") Оформить страховку