block hero
  .container-fluid.hero__container
    .section.hero
      .header
        .row.header__row
          .col-md.d-flex.align-items-center
            .logo
              h3.logo__text KDOVI
              //- img.img-fluid.logo__img(src="", alt="")
          .col-md
            ul.header__list.d-flex.justify-content-end
              li.header__item
                a.header__link(href="#") Правила
              li.header__item
                a.header__link(href="#") Призы
      .row.hero__row
        .col-md.d-flex.flex-column.justify-content-end.align-items-center
          h1.hero__header мега розыгрыш
          p.hero__description
            | оформи медицинскую страховку до 7 сентября и учавствуй в  
            b
              span.text_bold крупнейшем розыгрыше
            |  призов в Чехии
          button.button.hero__button Оформить страховку
          .stickers
            ul.stickers__list
              li.stickers__item
                .stickers__sticker.stickers__sticker_star 🤩
              li.stickers__item
                .stickers__sticker.stickers__sticker_kiss 😙
              li.stickers__item
                .stickers__sticker.stickers__sticker_sparklel ✨
              li.stickers__item
                .stickers__sticker.stickers__sticker_sparkler ✨