block hero
  .container-fluid.hero__container
    .section.hero
      .header
        .row.header__row
          .col-sm.d-flex.align-items-center.header__col
            .logo
              h3.logo__text 
                a(href="http://kdovi.cz") KDOVI
          .col-sm.header__col.d-flex.align-items-center.justify-content-sm-end
            ul.header__list.d-flex.justify-content-end
              -
                var headerLinks = [
                  {name: 'Призы', link: '#prizes'},
                  {name: 'Правила', link: '#terms'},
                ]
              each item in headerLinks
                li.header__item
                  a.header__link(href=`/${item.link}`)= item.name
      .row.hero__row
        .col-md.d-flex.flex-column.justify-content-end.align-items-center.hero__col
          h1.hero__header мега розыгрыш
          p.hero__description
            | Оформи медицинскую страховку до 30 сентября и участвуй в  
            b
              span.text_bold крупнейшем розыгрыше
            |  призов в Чехии.
          a(href="first.html").button.hero__button.
            Оформить страховку