block prizes
  .section.prizes
    .container.prizes__container
      .row
        .col
          h2.prizes__header Список призов
      ul.prizes__list
        li.prizes__item
          .row
            .col.prizes__text
              ul
                li 
                  p iMac 21,5"
                li 
                  p MacBook Air
            .col.prizes__image
                img.img-fluid.prizes__image_imac(src="img/imac.png", alt="")
        li.prizes__item
          .row
            .col.prizes__image
                img.img-fluid.prizes__image_ipad(src="img/ipad.png", alt="")
            .col.prizes__text
              ul
                li iPad Pro 12,9"
                li iPad
                li iPad Mini
        li.prizes__item
          .row
            .col.prizes__text
              ul
                li iPhone X
                li iPhone 8 Plus
                li iPhone 8
                li iPhone SE
            .col.prizes__image
                img.img-fluid.prizes__image_iphone(src="img/iPhone.png", alt="")
        li.prizes__item
          .row
            .col.prizes__image
              img.img-fluid.prizes__image_iwatch(src="img/iWatch.png", alt="")
            .col.prizes__text.prizes__text-watch
              ul
                li Apple Watch Nike +

