block terms
  .section.terms
    .container.terms__container
      .row
        .col
          h2.terms__header Условия участия
          .terms__data 
            p 
              span Оформите 
              | комплексную медицинскую страховку на странице 
              a(href="#").terms__link Kdovi.cz 
              | и 
              span поделитесь 
              | новостью об участии в акции в одной из соцсетей.
          .terms__socials.socials
            ul.socials__list
              li.socials__items
                a(href="#").socials__item.socials__item_fb
                  i.socials__icon.fa.fa-facebook(aria-hidden="true")
                  p.socials__text Facebook
              li.socials__items
                a(href="#").socials__item.socials__item_tw
                  i.socials__icon.fa.fa-twitter(aria-hidden="true")
                  p.socials__text twitter
              li.socials__items
                a(href="#").socials__item.socials__item_yu
                  i.socials__icon.fa.fa-youtube(aria-hidden="true")
                  p.socials__text youtube
              li.socials__items
                a(href="#").socials__item.socials__item_gp
                  i.socials__icon.fa.fa-google(aria-hidden="true")
                  p.socials__text google
              li.socials__items
                a(href="#").socials__item.socials__item_ld
                  i.socials__icon.fa.fa-linkedin(aria-hidden="true")
                  p.socials__text linkedin
              li.socials__items
                a(href="#").socials__item.socials__item_tm
                  i.socials__icon.fa.fa-tumblr(aria-hidden="true")
                  p.socials__text tumblr
              li.socials__items
                a(href="#").socials__item.socials__item_gh
                  i.socials__icon.fa.fa-github(aria-hidden="true")
                  p.socials__text github
              li.socials__items
                a(href="#").socials__item.socials__item_pn
                  i.socials__icon.fa.fa-pinterest(aria-hidden="true")
                  p.socials__text pinterest
          .divider
          .terms__data
            p Победители будут определены 7 сентября с помощью генератора случайных чисел среди участников, выполнивших все условия.
          .terms__hand
