block terms
  .section.terms
    .container.terms__container
      .row
        .col
          h2.terms__header Условия участия
          .terms__data 
            p Оформите комплексную медицинскую страховку на странице Kdovi.cz и поделитесь новостью об участии в акции в одной из соцсетей.
          .terms__socials.socials
            ul.socials__list
              li.socials__item
          .divider
          .terms__data
            p Победители будут определены 7 сентября с помощью генератора случайных чисел среди участников, выполнивших все условия.
          .terms__hand
