.button
  &:focus
    outline: none
    box-shadow: 0px 0px 20px rgba($gold, 0.9)
  color: $button-color
  display: block
  position: relative
  top: 0
  bottom: 0
  left: 0
  right: 0
  padding: rem(20px) rem(30px)
  &:hover
    color: $button-color
  font-size: rem(25px)
  +xxl
    font-size: rem(35px)
  +md
    font-size: rem(20px)
  +sm
    font-size: rem(16px)
    padding: rem(15px) rem(20px)
  +xs
    padding: rem(10px) rem(20px)
  +xxs
    white-space: nowrap
    font-size: 14px
    padding: rem(10px) rem(14px)
    
  cursor: pointer
  font-weight: 800
  text-transform: uppercase
  border-radius: rem(5px)
  border: none
  box-shadow: 0px 2px 11px 0px #003b2f
  background-color: $gradient-top
  background: linear-gradient(to bottom, $gradient-top 0%, $gradient-middle 50%, $gradient-bottom 100%)
  &__form
    font-size: rem(20px)
    background: none
    background-color: $green
    border-radius: rem(32px)
    box-shadow: 0px 5px 19px 0px rgba(#3ca288, .4)
    margin-bottom: rem(20px)
    color: $white
    padding: rem(20px) rem(60px)
    display: block
    position: relative
    top: 0
    bottom: 0
    left: 0
    right: 0
    +sm
      font-size: rem(15px)
      padding: rem(15px) rem(40px)
      transform: scale(1.3)
    +xs
      transform: scale(1)
    &:hover
      color: $white
    &_second
      margin: rem(40px) rem(0px)
      color: $white
      & a 
        &:hover
          color: $white
      