.header
  &__row
    +sm
      justify-content: center
      align-items: center
  &__list
    text-transform: uppercase
    font-size: rem(18px)
    +xs
      margin-top: rem(20px)
  &__item
    margin-right: rem(30px)
    &:last-child
      margin-right: 0 
  &__col  
    +xs
      display: flex
      justify-content: center
        