.logo
  &__text
    text-transform: 
    color: $white
    font-size: rem(36px)
    font-weight: 900
    padding: rem(5px) rem(15px)
    background-color: rgba($white, .5)
    border-radius: rem(8px)
  