.logo
  &__text
    text-transform: 
    color: $white
    font-size: rem(36px)
    +xxl
      font-size: rem(48px)
    font-weight: 900
    padding: rem(4.5px) rem(17.5px)
    background-color: rgba($white, .3)
    border-radius: rem(8px)
  