.chooseUs
  color: $white
  padding: rem(30px)
  height: 80vh
  +bg('sofa.png')
  background-size: 30%
  background-position: 50% 70%
  +md
    background-size: 50%
  h2
    font-size: rem(40px)
    color: $gold
    text-transform: uppercase
    text-align: center
    font-weight: 600
  h3
    text-transform: uppercase
    color: $gold
    font-size: rem(20px)
  p
    font-size: rem(14px)