section.section.banner
  .container-fluid.banner__container
    .row.no-gutters.h-100
      .col-md-3.h-100
        +banner('chair')
      .col-md-9.h-100
        .row.no-gutters.h-50
          .col-md-4.h-100
            +banner('plane')
          .col-md-8.h-100
            +banner('sofa')
        .row.no-gutters.h-50
          .col-md-8.h-100
            +banner('ceramics')
          .col-md-4.h-100
            +banner('apples')
