section.section.hero
  .container.h-100
    .row.align-items-center.justify-content-center.h-100
      .col-md
        .slider
          .slider__slide
            p Welcome To 
              span Pahu Design
            h2 you are in good hand with us
            small Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, blanditiis. Deleniti dolor nam delectus facilis iste!
      .col-md.hidden-md-down